.home {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    .title{
        padding:20px 0;
        padding-top: 40vh;
        font-weight: bold;
        font-size:20px
    }
    .table {
        &-row {
            display: flex;
            flex-direction: row;
        }
    }
    .result-container{
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        .result {
            font-size: 20px; 
        }
        .turn{
            font-size:15px;
        }
    }
    .game-mode{
        padding:20px 0;
        font-size: 16px;
        &__title{
            font-size: 18px;
            padding:10px;
        }
        span{
            padding:0 20px;
        }
    }
    .button-reset{
        height: 35px;
        width: 120px;
    }
    .history-container{
        padding:20px 0;
        div{
            font-size:16px;
            padding:10px
        }
        .history-item{
            display: flex;
            flex-direction: row;
            width:250px;
            justify-content:space-between;
        }
    }
   
}