.home {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    .title{
        padding:20px 0;
    }
    .table {
        &-row {
            display: flex;
            flex-direction: row;
        }
    }
    .result-container{
        height: 50px;
        .result {
            padding: 20px 0;
        }
    }
    .button-reset{
        height: 25px;
        width: 120px;
    }
   
}