.home {
    .table {
        &-row {
            display: flex;
            flex-direction: row;
        }
    }
    .result-container{
        height: 50px;
        .result {
            padding: 20px
        }
    }
   
}